<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <Compare>
    <ShowOnlyDifferences>
    </ShowOnlyDifferences>
    <OnlyLookForDifferenceInText>
    </OnlyLookForDifferenceInText>
    <IgnoreLineBreaks>
    </IgnoreLineBreaks>
  </Compare>
  <RecentFiles>
    <FileNames>
    </FileNames>
  </RecentFiles>
  <General>
    <ShowToolbarNew>
    </ShowToolbarNew>
    <ShowToolbarOpen>
    </ShowToolbarOpen>
    <ShowToolbarSave>
    </ShowToolbarSave>
    <ShowToolbarSaveAs>
    </ShowToolbarSaveAs>
    <ShowToolbarFind>
    </ShowToolbarFind>
    <ShowToolbarReplace>
    </ShowToolbarReplace>
    <ShowToolbarFixCommonErrors>
    </ShowToolbarFixCommonErrors>
    <ShowToolbarRemoveTextForHi>
    </ShowToolbarRemoveTextForHi>
    <ShowToolbarVisualSync>
    </ShowToolbarVisualSync>
    <ShowToolbarSpellCheck>
    </ShowToolbarSpellCheck>
    <ShowToolbarNetflixGlyphCheck>
    </ShowToolbarNetflixGlyphCheck>
    <ShowToolbarSettings>
    </ShowToolbarSettings>
    <ShowToolbarHelp>
    </ShowToolbarHelp>
    <ShowFrameRate>
    </ShowFrameRate>
    <ShowVideoPlayer>
    </ShowVideoPlayer>
    <ShowAudioVisualizer>
    </ShowAudioVisualizer>
    <ShowWaveform>
    </ShowWaveform>
    <ShowSpectrogram>
    </ShowSpectrogram>
    <DefaultFrameRate>
    </DefaultFrameRate>
    <DefaultSubtitleFormat>
    </DefaultSubtitleFormat>
    <DefaultEncoding>
    </DefaultEncoding>
    <AutoConvertToUtf8>
    </AutoConvertToUtf8>
    <WriteUtf8Bom>
    </WriteUtf8Bom>
    <AutoGuessAnsiEncoding>
    </AutoGuessAnsiEncoding>
    <SystemSubtitleFontNameOverride>
    </SystemSubtitleFontNameOverride>
    <SystemSubtitleFontSizeOverride>
    </SystemSubtitleFontSizeOverride>
    <_subtitleFontName>
    </_subtitleFontName>
    <SubtitleFontSize>
    </SubtitleFontSize>
    <SubtitleFontBold>
    </SubtitleFontBold>
    <SubtitleFontColor>
    </SubtitleFontColor>
    <SubtitleBackgroundColor>
    </SubtitleBackgroundColor>
    <CenterSubtitleInTextBox>
    </CenterSubtitleInTextBox>
    <ShowRecentFiles>
    </ShowRecentFiles>
    <RememberSelectedLine>
    </RememberSelectedLine>
    <StartLoadLastFile>
    </StartLoadLastFile>
    <StartRememberPositionAndSize>
    </StartRememberPositionAndSize>
    <StartPosition>
    </StartPosition>
    <StartSize>
    </StartSize>
    <SplitContainerMainSplitterDistance>
    </SplitContainerMainSplitterDistance>
    <SplitContainer1SplitterDistance>
    </SplitContainer1SplitterDistance>
    <SplitContainerListViewAndTextSplitterDistance>
    </SplitContainerListViewAndTextSplitterDistance>
    <StartInSourceView>
    </StartInSourceView>
    <RemoveBlankLinesWhenOpening>
    </RemoveBlankLinesWhenOpening>
    <SubtitleLineMaximumLength>
    </SubtitleLineMaximumLength>
    <SubtitleMinimumDisplayMilliseconds>
    </SubtitleMinimumDisplayMilliseconds>
    <SubtitleMaximumDisplayMilliseconds>
    </SubtitleMaximumDisplayMilliseconds>
    <MinimumMillisecondsBetweenLines>
    </MinimumMillisecondsBetweenLines>
    <SetStartEndHumanDelay>
    </SetStartEndHumanDelay>
    <AutoWrapLineWhileTyping>
    </AutoWrapLineWhileTyping>
    <SubtitleMaximumCharactersPerSeconds>
    </SubtitleMaximumCharactersPerSeconds>
    <SubtitleOptimalCharactersPerSeconds>
    </SubtitleOptimalCharactersPerSeconds>
    <CharactersPerSecondsIgnoreWhiteSpace>
    </CharactersPerSecondsIgnoreWhiteSpace>
    <SubtitleMaximumWordsPerMinute>
    </SubtitleMaximumWordsPerMinute>
    <SpellCheckLanguage>
    </SpellCheckLanguage>
    <VideoPlayer>
    </VideoPlayer>
    <VideoPlayerDefaultVolume>
    </VideoPlayerDefaultVolume>
    <VideoPlayerPreviewFontSize>
    </VideoPlayerPreviewFontSize>
    <VideoPlayerPreviewFontBold>
    </VideoPlayerPreviewFontBold>
    <VideoPlayerShowStopButton>
    </VideoPlayerShowStopButton>
    <VideoPlayerShowStopMute>
    </VideoPlayerShowStopMute>
    <VideoPlayerShowStopFullscreen>
    </VideoPlayerShowStopFullscreen>
    <Language>
    </Language>
    <ListViewLineSeparatorString>
    </ListViewLineSeparatorString>
    <ListViewDoubleClickAction>
    </ListViewDoubleClickAction>
    <UppercaseLetters>
    </UppercaseLetters>
    <DefaultAdjustMilliseconds>
    </DefaultAdjustMilliseconds>
    <AutoRepeatOn>
    </AutoRepeatOn>
    <AutoRepeatCount>
    </AutoRepeatCount>
    <AutoContinueOn>
    </AutoContinueOn>
    <SyncListViewWithVideoWhilePlaying>
    </SyncListViewWithVideoWhilePlaying>
    <AutoBackupSeconds>
    </AutoBackupSeconds>
    <AutoBackupDeleteAfterMonths>
    </AutoBackupDeleteAfterMonths>
    <SpellChecker>
    </SpellChecker>
    <AllowEditOfOriginalSubtitle>
    </AllowEditOfOriginalSubtitle>
    <PromptDeleteLines>
    </PromptDeleteLines>
    <Undocked>
    </Undocked>
    <UndockedVideoPosition>
    </UndockedVideoPosition>
    <UndockedWaveformPosition>
    </UndockedWaveformPosition>
    <UndockedVideoControlsPosition>
    </UndockedVideoControlsPosition>
    <WaveformCenter>
    </WaveformCenter>
    <WaveformUpdateIntervalMs>
    </WaveformUpdateIntervalMs>
    <SmallDelayMilliseconds>
    </SmallDelayMilliseconds>
    <LargeDelayMilliseconds>
    </LargeDelayMilliseconds>
    <ShowOriginalAsPreviewIfAvailable>
    </ShowOriginalAsPreviewIfAvailable>
    <LastPacCodePage>
    </LastPacCodePage>
    <OpenSubtitleExtraExtensions>
    </OpenSubtitleExtraExtensions>
    <ListViewColumnsRememberSize>
    </ListViewColumnsRememberSize>
    <ListViewNumberWidth>
    </ListViewNumberWidth>
    <ListViewStartWidth>
    </ListViewStartWidth>
    <ListViewEndWidth>
    </ListViewEndWidth>
    <ListViewDurationWidth>
    </ListViewDurationWidth>
    <ListViewCpsWidth>
    </ListViewCpsWidth>
    <ListViewWpmWidth>
    </ListViewWpmWidth>
    <ListViewActorWidth>
    </ListViewActorWidth>
    <ListViewRegionWidth>
    </ListViewRegionWidth>
    <VlcWaveTranscodeSettings>
    </VlcWaveTranscodeSettings>
    <VlcLocation>
    </VlcLocation>
    <VlcLocationRelative>
    </VlcLocationRelative>
    <MpvVideoOutput>
    </MpvVideoOutput>
    <MpvHandlesPreviewText>
    </MpvHandlesPreviewText>
    <MpcHcLocation>
    </MpcHcLocation>
    <UseFFmpegForWaveExtraction>
    </UseFFmpegForWaveExtraction>
    <FFmpegLocation>
    </FFmpegLocation>
    <UseTimeFormatHHMMSSFF>
    </UseTimeFormatHHMMSSFF>
    <ClearStatusBarAfterSeconds>
    </ClearStatusBarAfterSeconds>
    <Company>
    </Company>
    <MoveVideo100Or500MsPlaySmallSample>
    </MoveVideo100Or500MsPlaySmallSample>
    <DisableVideoAutoLoading>
    </DisableVideoAutoLoading>
    <RightToLeftMode>
    </RightToLeftMode>
    <LastSaveAsFormat>
    </LastSaveAsFormat>
    <CheckForUpdates>
    </CheckForUpdates>
    <LastCheckForUpdates>
    </LastCheckForUpdates>
    <ShowProgress>
    </ShowProgress>
    <ShowBetaStuff>
    </ShowBetaStuff>
    <NewEmptyDefaultMs>
    </NewEmptyDefaultMs>
  </General>
  <Tools>
    <StartSceneIndex>
    </StartSceneIndex>
    <EndSceneIndex>
    </EndSceneIndex>
    <VerifyPlaySeconds>
    </VerifyPlaySeconds>
    <MergeLinesShorterThan>
    </MergeLinesShorterThan>
    <FixShortDisplayTimesAllowMoveStartTime>
    </FixShortDisplayTimesAllowMoveStartTime>
    <MusicSymbol>
    </MusicSymbol>
    <MusicSymbolToReplace>
    </MusicSymbolToReplace>
    <UnicodeSymbolsToInsert>
    </UnicodeSymbolsToInsert>
    <SpellCheckAutoChangeNames>
    </SpellCheckAutoChangeNames>
    <SpellCheckOneLetterWords>
    </SpellCheckOneLetterWords>
    <SpellCheckEnglishAllowInQuoteAsIng>
    </SpellCheckEnglishAllowInQuoteAsIng>
    <SpellCheckShowCompletedMessage>
    </SpellCheckShowCompletedMessage>
    <OcrFixUseHardcodedRules>
    </OcrFixUseHardcodedRules>
    <Interjections>
    </Interjections>
    <MicrosoftBingApiId>
    </MicrosoftBingApiId>
    <MicrosoftTranslatorApiKey>
    </MicrosoftTranslatorApiKey>
    <GoogleTranslateUrl>
    </GoogleTranslateUrl>
    <GoogleApiKey>
    </GoogleApiKey>
    <UseGooleApiPaidService>
    </UseGooleApiPaidService>
    <GoogleTranslateLastTargetLanguage>
    </GoogleTranslateLastTargetLanguage>
    <TranslateAutoSplit>
    </TranslateAutoSplit>
    <ListViewSyntaxColorDurationSmall>
    </ListViewSyntaxColorDurationSmall>
    <ListViewSyntaxColorDurationBig>
    </ListViewSyntaxColorDurationBig>
    <ListViewSyntaxColorLongLines>
    </ListViewSyntaxColorLongLines>
    <ListViewSyntaxMoreThanXLines>
    </ListViewSyntaxMoreThanXLines>
    <ListViewSyntaxMoreThanXLinesX>
    </ListViewSyntaxMoreThanXLinesX>
    <ListViewSyntaxColorOverlap>
    </ListViewSyntaxColorOverlap>
    <ListViewSyntaxErrorColor>
    </ListViewSyntaxErrorColor>
    <ListViewUnfocusedSelectedColor>
    </ListViewUnfocusedSelectedColor>
    <ListViewShowColumnEndTime>
    </ListViewShowColumnEndTime>
    <ListViewShowColumnDuration>
    </ListViewShowColumnDuration>
    <ListViewShowColumnCharsPerSec>
    </ListViewShowColumnCharsPerSec>
    <ListViewShowColumnWordsPerMin>
    </ListViewShowColumnWordsPerMin>
    <ListViewShowColumnActor>
    </ListViewShowColumnActor>
    <ListViewShowColumnRegion>
    </ListViewShowColumnRegion>
    <SplitAdvanced>
    </SplitAdvanced>
    <SplitOutputFolder>
    </SplitOutputFolder>
    <SplitNumberOfParts>
    </SplitNumberOfParts>
    <SplitVia>
    </SplitVia>
    <NewEmptyTranslationText>
    </NewEmptyTranslationText>
    <BatchConvertOutputFolder>
    </BatchConvertOutputFolder>
    <BatchConvertOverwriteExisting>
    </BatchConvertOverwriteExisting>
    <BatchConvertOverwriteOriginal>
    </BatchConvertOverwriteOriginal>
    <BatchConvertRemoveFormatting>
    </BatchConvertRemoveFormatting>
    <BatchConvertBridgeGaps>
    </BatchConvertBridgeGaps>
    <BatchConvertFixCasing>
    </BatchConvertFixCasing>
    <BatchConvertRemoveTextForHI>
    </BatchConvertRemoveTextForHI>
    <BatchConvertSplitLongLines>
    </BatchConvertSplitLongLines>
    <BatchConvertFixCommonErrors>
    </BatchConvertFixCommonErrors>
    <BatchConvertMultipleReplace>
    </BatchConvertMultipleReplace>
    <BatchConvertAutoBalance>
    </BatchConvertAutoBalance>
    <BatchConvertSetMinDisplayTimeBetweenSubtitles>
    </BatchConvertSetMinDisplayTimeBetweenSubtitles>
    <BatchConvertLanguage>
    </BatchConvertLanguage>
    <BatchConvertFormat>
    </BatchConvertFormat>
    <BatchConvertAssStyles>
    </BatchConvertAssStyles>
    <BatchConvertSsaStyles>
    </BatchConvertSsaStyles>
    <BatchConvertUseStyleFromSource>
    </BatchConvertUseStyleFromSource>
    <BatchConvertExportCustomTextTemplate>
    </BatchConvertExportCustomTextTemplate>
    <ModifySelectionRule>
    </ModifySelectionRule>
    <ModifySelectionText>
    </ModifySelectionText>
    <ModifySelectionCaseSensitive>
    </ModifySelectionCaseSensitive>
    <ExportVobSubFontName>
    </ExportVobSubFontName>
    <ExportVobSubFontSize>
    </ExportVobSubFontSize>
    <ExportVobSubVideoResolution>
    </ExportVobSubVideoResolution>
    <ExportVobSubLanguage>
    </ExportVobSubLanguage>
    <ExportVobSubSimpleRendering>
    </ExportVobSubSimpleRendering>
    <ExportVobAntiAliasingWithTransparency>
    </ExportVobAntiAliasingWithTransparency>
    <ExportBluRayFontName>
    </ExportBluRayFontName>
    <ExportBluRayFontSize>
    </ExportBluRayFontSize>
    <ExportFcpFontName>
    </ExportFcpFontName>
    <ExportFontNameOther>
    </ExportFontNameOther>
    <ExportFcpFontSize>
    </ExportFcpFontSize>
    <ExportFcpImageType>
    </ExportFcpImageType>
    <ExportFcpPalNtsc>
    </ExportFcpPalNtsc>
    <ExportBdnXmlImageType>
    </ExportBdnXmlImageType>
    <ExportLastFontSize>
    </ExportLastFontSize>
    <ExportLastLineHeight>
    </ExportLastLineHeight>
    <ExportLastBorderWidth>
    </ExportLastBorderWidth>
    <ExportLastFontBold>
    </ExportLastFontBold>
    <ExportBluRayVideoResolution>
    </ExportBluRayVideoResolution>
    <ExportFcpVideoResolution>
    </ExportFcpVideoResolution>
    <ExportFontColor>
    </ExportFontColor>
    <ExportBorderColor>
    </ExportBorderColor>
    <ExportShadowColor>
    </ExportShadowColor>
    <ExportBoxBorderSize>
    </ExportBoxBorderSize>
    <ExportBottomMarginUnit>
    </ExportBottomMarginUnit>
    <ExportBottomMarginPercent>
    </ExportBottomMarginPercent>
    <ExportBottomMarginPixels>
    </ExportBottomMarginPixels>
    <ExportLeftRightMarginUnit>
    </ExportLeftRightMarginUnit>
    <ExportLeftRightMarginPercent>
    </ExportLeftRightMarginPercent>
    <ExportLeftRightMarginPixels>
    </ExportLeftRightMarginPixels>
    <ExportHorizontalAlignment>
    </ExportHorizontalAlignment>
    <ExportBluRayBottomMarginPercent>
    </ExportBluRayBottomMarginPercent>
    <ExportBluRayBottomMarginPixels>
    </ExportBluRayBottomMarginPixels>
    <ExportBluRayShadow>
    </ExportBluRayShadow>
    <Export3DType>
    </Export3DType>
    <Export3DDepth>
    </Export3DDepth>
    <ExportLastShadowTransparency>
    </ExportLastShadowTransparency>
    <ExportLastFrameRate>
    </ExportLastFrameRate>
    <ExportFullFrame>
    </ExportFullFrame>
    <ExportPenLineJoin>
    </ExportPenLineJoin>
    <FixCommonErrorsFixOverlapAllowEqualEndStart>
    </FixCommonErrorsFixOverlapAllowEqualEndStart>
    <FixCommonErrorsSkipStepOne>
    </FixCommonErrorsSkipStepOne>
    <ImportTextSplitting>
    </ImportTextSplitting>
    <ImportTextMergeShortLines>
    </ImportTextMergeShortLines>
    <ImportTextLineBreak>
    </ImportTextLineBreak>
    <ImportTextMergeShortLines>
    </ImportTextMergeShortLines>
    <ImportTextRemoveEmptyLines>
    </ImportTextRemoveEmptyLines>
    <ImportTextRemoveLinesNoLetters>
    </ImportTextRemoveLinesNoLetters>
    <ImportTextGenerateTimeCodes>
    </ImportTextGenerateTimeCodes>
    <ImportTextAutoBreak>
    </ImportTextAutoBreak>
    <ImportTextGap>
    </ImportTextGap>
    <ImportTextDurationAuto>
    </ImportTextDurationAuto>
    <ImportTextFixedDuration>
    </ImportTextFixedDuration>
    <GenerateTimeCodePatterns>
    </GenerateTimeCodePatterns>
    <GenerateTimeCodePatterns>
    </GenerateTimeCodePatterns>
    <MusicSymbolStyle>
    </MusicSymbolStyle>
    <BridgeGapMilliseconds>
    </BridgeGapMilliseconds>
    <ExportCustomTemplates>
    </ExportCustomTemplates>
    <ChangeCasingChoice>
    </ChangeCasingChoice>
    <UseNoLineBreakAfter>
    </UseNoLineBreakAfter>
    <NoLineBreakAfterEnglish>
    </NoLineBreakAfterEnglish>
    <UseNoLineBreakAfter>
    </UseNoLineBreakAfter>
    <ExportTextRemoveStyling>
    </ExportTextRemoveStyling>
    <ExportTextShowLineNumbers>
    </ExportTextShowLineNumbers>
    <ExportTextShowLineNumbersNewLine>
    </ExportTextShowLineNumbersNewLine>
    <ExportTextShowTimeCodes>
    </ExportTextShowTimeCodes>
    <ExportTextShowTimeCodesNewLine>
    </ExportTextShowTimeCodesNewLine>
    <ExportTextNewLineAfterText>
    </ExportTextNewLineAfterText>
    <ExportTextNewLineBetweenSubtitles>
    </ExportTextNewLineBetweenSubtitles>
    <VideoOffsetKeepTimeCodes>
    </VideoOffsetKeepTimeCodes>
  </Tools>
  <SubtitleSettings>
    <SsaFontName>
    </SsaFontName>
    <SsaFontSize>
    </SsaFontSize>
    <SsaFontColorArgb>
    </SsaFontColorArgb>
    <SsaFontBold>
    </SsaFontBold>
    <SsaOutline>
    </SsaOutline>
    <SsaShadow>
    </SsaShadow>
    <SsaOpaqueBox>
    </SsaOpaqueBox>
    <SsaMarginLeft>
    </SsaMarginLeft>
    <SsaMarginRight>
    </SsaMarginRight>
    <SsaMarginTopBottom>
    </SsaMarginTopBottom>
    <DCinemaFontFile>
    </DCinemaFontFile>
    <DCinemaFontSize>
    </DCinemaFontSize>
    <DCinemaBottomMargin>
    </DCinemaBottomMargin>
    <DCinemaZPosition>
    </DCinemaZPosition>
    <DCinemaFadeUpTime>
    </DCinemaFadeUpTime>
    <DCinemaFadeDownTime>
    </DCinemaFadeDownTime>
    <SamiDisplayTwoClassesAsTwoSubtitles>
    </SamiDisplayTwoClassesAsTwoSubtitles>
    <SamiFullHtmlEncode>
    </SamiFullHtmlEncode>
    <TimedText10TimeCodeFormat>
    </TimedText10TimeCodeFormat>
    <TimedText10ShowStyleAndLanguage>
    </TimedText10ShowStyleAndLanguage>
    <FcpFontSize>
    </FcpFontSize>
    <FcpFontName>
    </FcpFontName>
    <Cavena890StartOfMessage>
    </Cavena890StartOfMessage>
    <EbuStlTeletextUseBox>
    </EbuStlTeletextUseBox>
    <EbuStlTeletextUseDoubleHeight>
    </EbuStlTeletextUseDoubleHeight>
    <EbuStlMarginTop>
    </EbuStlMarginTop>
    <EbuStlMarginBottom>
    </EbuStlMarginBottom>
    <EbuStlNewLineRows>
    </EbuStlNewLineRows>
    <CheetahCaptionAlwayWriteEndTime>
    </CheetahCaptionAlwayWriteEndTime>
    <NuendoCharacterListFile>
    </NuendoCharacterListFile>
  </SubtitleSettings>
  <Proxy>
    <ProxyAddress>
    </ProxyAddress>
    <UserName>
    </UserName>
    <Password>
    </Password>
    <Domain>
    </Domain>
  </Proxy>
  <WordLists>
    <LastLanguage>
    </LastLanguage>
    <Names>
    </Names>
    <UseOnlineNames>
    </UseOnlineNames>
  </WordLists>
  <CommonErrors>
    <StartPosition>
    </StartPosition>
    <StartSize>
    </StartSize>
    <EmptyLinesTicked>
    </EmptyLinesTicked>
    <OverlappingDisplayTimeTicked>
    </OverlappingDisplayTimeTicked>
    <TooShortDisplayTimeTicked>
    </TooShortDisplayTimeTicked>
    <TooLongDisplayTimeTicked>
    </TooLongDisplayTimeTicked>
    <InvalidItalicTagsTicked>
    </InvalidItalicTagsTicked>
    <BreakLongLinesTicked>
    </BreakLongLinesTicked>
    <MergeShortLinesTicked>
    </MergeShortLinesTicked>
    <MergeShortLinesAllTicked>
    </MergeShortLinesAllTicked>
    <UnneededSpacesTicked>
    </UnneededSpacesTicked>
    <UnneededPeriodsTicked>
    </UnneededPeriodsTicked>
    <MissingSpacesTicked>
    </MissingSpacesTicked>
    <AddMissingQuotesTicked>
    </AddMissingQuotesTicked>
    <Fix3PlusLinesTicked>
    </Fix3PlusLinesTicked>
    <FixHyphensTicked>
    </FixHyphensTicked>
    <FixHyphensAddTicked>
    </FixHyphensAddTicked>
    <UppercaseIInsideLowercaseWordTicked>
    </UppercaseIInsideLowercaseWordTicked>
    <DoubleApostropheToQuoteTicked>
    </DoubleApostropheToQuoteTicked>
    <AddPeriodAfterParagraphTicked>
    </AddPeriodAfterParagraphTicked>
    <StartWithUppercaseLetterAfterParagraphTicked>
    </StartWithUppercaseLetterAfterParagraphTicked>
    <StartWithUppercaseLetterAfterPeriodInsideParagraphTicked>
    </StartWithUppercaseLetterAfterPeriodInsideParagraphTicked>
    <StartWithUppercaseLetterAfterColonTicked>
    </StartWithUppercaseLetterAfterColonTicked>
    <AloneLowercaseIToUppercaseIEnglishTicked>
    </AloneLowercaseIToUppercaseIEnglishTicked>
    <FixOcrErrorsViaReplaceListTicked>
    </FixOcrErrorsViaReplaceListTicked>
    <RemoveSpaceBetweenNumberTicked>
    </RemoveSpaceBetweenNumberTicked>
    <FixDialogsOnOneLineTicked>
    </FixDialogsOnOneLineTicked>
    <TurkishAnsiTicked>
    </TurkishAnsiTicked>
    <DanishLetterITicked>
    </DanishLetterITicked>
    <SpanishInvertedQuestionAndExclamationMarksTicked>
    </SpanishInvertedQuestionAndExclamationMarksTicked>
    <FixDoubleDashTicked>
    </FixDoubleDashTicked>
    <FixDoubleGreaterThanTicked>
    </FixDoubleGreaterThanTicked>
    <FixEllipsesStartTicked>
    </FixEllipsesStartTicked>
    <FixMissingOpenBracketTicked>
    </FixMissingOpenBracketTicked>
    <FixMusicNotationTicked>
    </FixMusicNotationTicked>
  </CommonErrors>
  <VideoControls>
    <CustomSearchText1>
    </CustomSearchText1>
    <CustomSearchText2>
    </CustomSearchText2>
    <CustomSearchText3>
    </CustomSearchText3>
    <CustomSearchText4>
    </CustomSearchText4>
    <CustomSearchText5>
    </CustomSearchText5>
    <CustomSearchText6>
    </CustomSearchText6>
    <CustomSearchUrl1>
    </CustomSearchUrl1>
    <CustomSearchUrl2>
    </CustomSearchUrl2>
    <CustomSearchUrl3>
    </CustomSearchUrl3>
    <CustomSearchUrl4>
    </CustomSearchUrl4>
    <CustomSearchUrl5>
    </CustomSearchUrl5>
    <CustomSearchUrl6>
    </CustomSearchUrl6>
    <LastActiveTab>
    </LastActiveTab>
    <WaveformDrawGrid>
    </WaveformDrawGrid>
    <WaveformDrawCps>
    </WaveformDrawCps>
    <WaveformDrawWpm>
    </WaveformDrawWpm>
    <WaveformAllowOverlap>
    </WaveformAllowOverlap>
    <WaveformFocusOnMouseEnter>
    </WaveformFocusOnMouseEnter>
    <WaveformListViewFocusOnMouseEnter>
    </WaveformListViewFocusOnMouseEnter>
    <WaveformSetVideoPositionOnMoveStartEnd>
    </WaveformSetVideoPositionOnMoveStartEnd>
    <WaveformBorderHitMs>
    </WaveformBorderHitMs>
    <WaveformGridColor>
    </WaveformGridColor>
    <WaveformColor>
    </WaveformColor>
    <WaveformSelectedColor>
    </WaveformSelectedColor>
    <WaveformBackgroundColor>
    </WaveformBackgroundColor>
    <WaveformTextColor>
    </WaveformTextColor>
    <WaveformTextSize>
    </WaveformTextSize>
    <WaveformTextBold>
    </WaveformTextBold>
    <WaveformDoubleClickOnNonParagraphAction>
    </WaveformDoubleClickOnNonParagraphAction>
    <WaveformRightClickOnNonParagraphAction>
    </WaveformRightClickOnNonParagraphAction>
    <WaveformMouseWheelScrollUpIsForward>
    </WaveformMouseWheelScrollUpIsForward>
    <GenerateSpectrogram>
    </GenerateSpectrogram>
    <SpectrogramAppearance>
    </SpectrogramAppearance>
    <WaveformMinimumSampleRate>
    </WaveformMinimumSampleRate>
    <WaveformSeeksSilenceDurationSeconds>
    </WaveformSeeksSilenceDurationSeconds>
    <WaveformSeeksSilenceMaxVolume>
    </WaveformSeeksSilenceMaxVolume>
  </VideoControls>
  <NetworkSettings>
    <SessionKey>
    </SessionKey>
    <UserName>
    </UserName>
    <WebServiceUrl>
    </WebServiceUrl>
    <PollIntervalSeconds>
    </PollIntervalSeconds>
    <NewMessageSound>
    </NewMessageSound>
  </NetworkSettings>
  <VobSubOcr>
    <XOrMorePixelsMakesSpace>
    </XOrMorePixelsMakesSpace>
    <AllowDifferenceInPercent>
    </AllowDifferenceInPercent>
    <BlurayAllowDifferenceInPercent>
    </BlurayAllowDifferenceInPercent>
    <LastImageCompareFolder>
    </LastImageCompareFolder>
    <LastModiLanguageId>
    </LastModiLanguageId>
    <LastOcrMethod>
    </LastOcrMethod>
    <TesseractLastLanguage>
    </TesseractLastLanguage>
    <UseModiInTesseractForUnknownWords>
    </UseModiInTesseractForUnknownWords>
    <UseItalicsInTesseract>
    </UseItalicsInTesseract>
    <UseMusicSymbolsInTesseract>
    </UseMusicSymbolsInTesseract>
    <RightToLeft>
    </RightToLeft>
    <TopToBottom>
    </TopToBottom>
    <DefaultMillisecondsForUnknownDurations>
    </DefaultMillisecondsForUnknownDurations>
    <PromptForUnknownWords>
    </PromptForUnknownWords>
    <GuessUnknownWords>
    </GuessUnknownWords>
    <AutoBreakSubtitleIfMoreThanTwoLines>
    </AutoBreakSubtitleIfMoreThanTwoLines>
    <ItalicFactor>
    </ItalicFactor>
    <LineOcrDraw>
    </LineOcrDraw>
    <LineOcrAdvancedItalic>
    </LineOcrAdvancedItalic>
    <LineOcrLastLanguages>
    </LineOcrLastLanguages>
    <LineOcrLastSpellCheck>
    </LineOcrLastSpellCheck>
    <LineOcrXOrMorePixelsMakesSpace>
    </LineOcrXOrMorePixelsMakesSpace>
    <LineOcrMinLineHeight>
    </LineOcrMinLineHeight>
    <LineOcrMaxLineHeight>
    </LineOcrMaxLineHeight>
    <LastBinaryImageCompareDb>
    </LastBinaryImageCompareDb>
    <LastBinaryImageSpellCheck>
    </LastBinaryImageSpellCheck>
  </VobSubOcr>
  <MultipleSearchAndReplaceGroups>
  </MultipleSearchAndReplaceGroups>
  <Shortcuts>
    <GeneralGoToFirstSelectedLine>
    </GeneralGoToFirstSelectedLine>
    <GeneralGoToNextEmptyLine>
    </GeneralGoToNextEmptyLine>
    <GeneralMergeSelectedLines>
    </GeneralMergeSelectedLines>
    <GeneralMergeSelectedLinesOnlyFirstText>
    </GeneralMergeSelectedLinesOnlyFirstText>
    <GeneralMergeWithNext>
    </GeneralMergeWithNext>
    <GeneralMergeWithPrevious>
    </GeneralMergeWithPrevious>
    <GeneralToggleTranslationMode>
    </GeneralToggleTranslationMode>
    <GeneralSwitchOriginalAndTranslation>
    </GeneralSwitchOriginalAndTranslation>
    <GeneralMergeOriginalAndTranslation>
    </GeneralMergeOriginalAndTranslation>
    <GeneralGoToNextSubtitle>
    </GeneralGoToNextSubtitle>
    <GeneralGoToPrevSubtitle>
    </GeneralGoToPrevSubtitle>
    <GeneralGoToEndOfCurrentSubtitle>
    </GeneralGoToEndOfCurrentSubtitle>
    <GeneralGoToStartOfCurrentSubtitle>
    </GeneralGoToStartOfCurrentSubtitle>
    <GeneralGoToPreviousSubtitleAndFocusVideo>
    </GeneralGoToPreviousSubtitleAndFocusVideo>
    <GeneralGoToNextSubtitleAndFocusVideo>
    </GeneralGoToNextSubtitleAndFocusVideo>
    <GeneralExtendCurrentSubtitle>
    </GeneralExtendCurrentSubtitle>
    <GeneralAutoCalcCurrentDuration>
    </GeneralAutoCalcCurrentDuration>
    <GeneralPlayFirstSelected>
    </GeneralPlayFirstSelected>
    <GeneralHelp>
    </GeneralHelp>
    <MainFileNew>
    </MainFileNew>
    <MainFileOpen>
    </MainFileOpen>
    <MainFileOpenKeepVideo>
    </MainFileOpenKeepVideo>
    <MainFileSave>
    </MainFileSave>
    <MainFileSaveOriginal>
    </MainFileSaveOriginal>
    <MainFileSaveOriginalAs>
    </MainFileSaveOriginalAs>
    <MainFileSaveAs>
    </MainFileSaveAs>
    <MainFileSaveAll>
    </MainFileSaveAll>
    <MainFileExportEbu>
    </MainFileExportEbu>
    <MainEditUndo>
    </MainEditUndo>
    <MainEditRedo>
    </MainEditRedo>
    <MainEditFind>
    </MainEditFind>
    <MainEditFindNext>
    </MainEditFindNext>
    <MainEditReplace>
    </MainEditReplace>
    <MainEditMultipleReplace>
    </MainEditMultipleReplace>
    <MainEditGoToLineNumber>
    </MainEditGoToLineNumber>
    <MainEditRightToLeft>
    </MainEditRightToLeft>
    <MainToolsFixCommonErrors>
    </MainToolsFixCommonErrors>
    <MainToolsFixCommonErrorsPreview>
    </MainToolsFixCommonErrorsPreview>
    <MainToolsMergeShortLines>
    </MainToolsMergeShortLines>
    <MainToolsSplitLongLines>
    </MainToolsSplitLongLines>
    <MainToolsRenumber>
    </MainToolsRenumber>
    <MainToolsRemoveTextForHI>
    </MainToolsRemoveTextForHI>
    <MainToolsChangeCasing>
    </MainToolsChangeCasing>
    <MainToolsAutoDuration>
    </MainToolsAutoDuration>
    <MainToolsBatchConvert>
    </MainToolsBatchConvert>
    <MainToolsBeamer>
    </MainToolsBeamer>
    <MainToolsToggleTranslationOriginalInPreviews>
    </MainToolsToggleTranslationOriginalInPreviews>
    <MainEditInverseSelection>
    </MainEditInverseSelection>
    <MainEditModifySelection>
    </MainEditModifySelection>
    <MainVideoPause>
    </MainVideoPause>
    <MainVideoPlayPauseToggle>
    </MainVideoPlayPauseToggle>
    <MainVideoShowHideVideo>
    </MainVideoShowHideVideo>
    <MainVideoToggleVideoControls>
    </MainVideoToggleVideoControls>
    <MainVideo1FrameLeft>
    </MainVideo1FrameLeft>
    <MainVideo1FrameRight>
    </MainVideo1FrameRight>
    <MainVideo1FrameLeftWithPlay>
    </MainVideo1FrameLeftWithPlay>
    <MainVideo1FrameRightWithPlay>
    </MainVideo1FrameRightWithPlay>
    <MainVideo100MsLeft>
    </MainVideo100MsLeft>
    <MainVideo100MsRight>
    </MainVideo100MsRight>
    <MainVideo500MsLeft>
    </MainVideo500MsLeft>
    <MainVideo500MsRight>
    </MainVideo500MsRight>
    <MainVideo1000MsLeft>
    </MainVideo1000MsLeft>
    <MainVideo1000MsRight>
    </MainVideo1000MsRight>
    <MainVideo5000MsLeft>
    </MainVideo5000MsLeft>
    <MainVideo5000MsRight>
    </MainVideo5000MsRight>
    <MainVideoFullscreen>
    </MainVideoFullscreen>
    <MainSpellCheck>
    </MainSpellCheck>
    <MainSpellCheckFindDoubleWords>
    </MainSpellCheckFindDoubleWords>
    <MainSpellCheckAddWordToNames>
    </MainSpellCheckAddWordToNames>
    <MainSynchronizationAdjustTimes>
    </MainSynchronizationAdjustTimes>
    <MainSynchronizationVisualSync>
    </MainSynchronizationVisualSync>
    <MainSynchronizationPointSync>
    </MainSynchronizationPointSync>
    <MainSynchronizationChangeFrameRate>
    </MainSynchronizationChangeFrameRate>
    <MainListViewItalic>
    </MainListViewItalic>
    <MainListViewToggleDashes>
    </MainListViewToggleDashes>
    <MainListViewAlignment>
    </MainListViewAlignment>
    <MainListViewCopyText>
    </MainListViewCopyText>
    <MainListViewCopyTextFromOriginalToCurrent>
    </MainListViewCopyTextFromOriginalToCurrent>
    <MainListViewAutoDuration>
    </MainListViewAutoDuration>
    <MainListViewColumnDeleteText>
    </MainListViewColumnDeleteText>
    <MainListViewColumnInsertText>
    </MainListViewColumnInsertText>
    <MainListViewColumnPaste>
    </MainListViewColumnPaste>
    <MainListViewFocusWaveform>
    </MainListViewFocusWaveform>
    <MainListViewGoToNextError>
    </MainListViewGoToNextError>
    <MainEditReverseStartAndEndingForRTL>
    </MainEditReverseStartAndEndingForRTL>
    <MainTextBoxItalic>
    </MainTextBoxItalic>
    <MainTextBoxSplitAtCursor>
    </MainTextBoxSplitAtCursor>
    <MainTextBoxMoveLastWordDown>
    </MainTextBoxMoveLastWordDown>
    <MainTextBoxMoveFirstWordFromNextUp>
    </MainTextBoxMoveFirstWordFromNextUp>
    <MainTextBoxSelectionToLower>
    </MainTextBoxSelectionToLower>
    <MainTextBoxSelectionToUpper>
    </MainTextBoxSelectionToUpper>
    <MainTextBoxToggleAutoDuration>
    </MainTextBoxToggleAutoDuration>
    <MainCreateInsertSubAtVideoPos>
    </MainCreateInsertSubAtVideoPos>
    <MainCreatePlayFromJustBefore>
    </MainCreatePlayFromJustBefore>
    <MainCreateSetStart>
    </MainCreateSetStart>
    <MainCreateSetEnd>
    </MainCreateSetEnd>
    <MainCreateSetEndAddNewAndGoToNew>
    </MainCreateSetEndAddNewAndGoToNew>
    <MainCreateStartDownEndUp>
    </MainCreateStartDownEndUp>
    <MainAdjustSetStartAndOffsetTheRest>
    </MainAdjustSetStartAndOffsetTheRest>
    <MainAdjustSetEndAndOffsetTheRest>
    </MainAdjustSetEndAndOffsetTheRest>
    <MainAdjustSetEndAndOffsetTheRestAndGoToNext>
    </MainAdjustSetEndAndOffsetTheRestAndGoToNext>
    <MainAdjustSetEndAndGotoNext>
    </MainAdjustSetEndAndGotoNext>
    <MainAdjustViaEndAutoStartAndGoToNext>
    </MainAdjustViaEndAutoStartAndGoToNext>
    <MainAdjustSetStartAutoDurationAndGoToNext>
    </MainAdjustSetStartAutoDurationAndGoToNext>
    <MainAdjustSetEndNextStartAndGoToNext>
    </MainAdjustSetEndNextStartAndGoToNext>
    <MainAdjustStartDownEndUpAndGoToNext>
    </MainAdjustStartDownEndUpAndGoToNext>
    <MainAdjustSetStart>
    </MainAdjustSetStart>
    <MainAdjustSetStartKeepDuration>
    </MainAdjustSetStartKeepDuration>
    <MainAdjustSetEnd>
    </MainAdjustSetEnd>
    <MainAdjustSelected100MsForward>
    </MainAdjustSelected100MsForward>
    <MainAdjustSelected100MsBack>
    </MainAdjustSelected100MsBack>
    <MainInsertAfter>
    </MainInsertAfter>
    <MainTextBoxInsertAfter>
    </MainTextBoxInsertAfter>
    <MainTextBoxAutoBreak>
    </MainTextBoxAutoBreak>
    <MainTextBoxUnbreak>
    </MainTextBoxUnbreak>
    <MainWaveformInsertAtCurrentPosition>
    </MainWaveformInsertAtCurrentPosition>
    <MainInsertBefore>
    </MainInsertBefore>
    <MainMergeDialog>
    </MainMergeDialog>
    <MainToggleFocus>
    </MainToggleFocus>
    <WaveformVerticalZoom>
    </WaveformVerticalZoom>
    <WaveformVerticalZoomOut>
    </WaveformVerticalZoomOut>
    <WaveformZoomIn>
    </WaveformZoomIn>
    <WaveformZoomOut>
    </WaveformZoomOut>
    <WaveformPlaySelection>
    </WaveformPlaySelection>
    <WaveformPlaySelectionEnd>
    </WaveformPlaySelectionEnd>
    <WaveformSearchSilenceForward>
    </WaveformSearchSilenceForward>
    <WaveformSearchSilenceBack>
    </WaveformSearchSilenceBack>
    <WaveformAddTextHere>
    </WaveformAddTextHere>
    <WaveformAddTextHereFromClipboard>
    </WaveformAddTextHereFromClipboard>
    <WaveformFocusListView>
    </WaveformFocusListView>
    <WaveformGoToNextSubtitle>
    </WaveformGoToNextSubtitle>
    <WaveformGoToNextSceneChange>
    </WaveformGoToNextSceneChange>
    <WaveformToggleSceneChange>
    </WaveformToggleSceneChange>
    <MainTranslateCustomSearch1>
    </MainTranslateCustomSearch1>
    <MainTranslateCustomSearch2>
    </MainTranslateCustomSearch2>
    <MainTranslateCustomSearch3>
    </MainTranslateCustomSearch3>
    <MainTranslateCustomSearch4>
    </MainTranslateCustomSearch4>
    <MainTranslateCustomSearch5>
    </MainTranslateCustomSearch5>
    <MainTranslateCustomSearch6>
    </MainTranslateCustomSearch6>
  </Shortcuts>
  <RemoveTextForHearingImpaired>
    <RemoveTextBetweenBrackets>
    </RemoveTextBetweenBrackets>
    <RemoveTextBetweenParentheses>
    </RemoveTextBetweenParentheses>
    <RemoveTextBetweenCurlyBrackets>
    </RemoveTextBetweenCurlyBrackets>
    <RemoveTextBetweenQuestionMarks>
    </RemoveTextBetweenQuestionMarks>
    <RemoveTextBetweenCustom>
    </RemoveTextBetweenCustom>
    <RemoveTextBetweenCustomBefore>
    </RemoveTextBetweenCustomBefore>
    <RemoveTextBetweenCustomAfter>
    </RemoveTextBetweenCustomAfter>
    <RemoveTextBetweenOnlySeperateLines>
    </RemoveTextBetweenOnlySeperateLines>
    <RemoveTextBeforeColon>
    </RemoveTextBeforeColon>
    <RemoveTextBeforeColonOnlyIfUppercase>
    </RemoveTextBeforeColonOnlyIfUppercase>
    <RemoveTextBeforeColonOnlyOnSeparateLine>
    </RemoveTextBeforeColonOnlyOnSeparateLine>
    <RemoveInterjections>
    </RemoveInterjections>
    <RemoveIfAllUppercase>
    </RemoveIfAllUppercase>
    <RemoveIfContains>
    </RemoveIfContains>
    <RemoveIfContainsText>
    </RemoveIfContainsText>
  </RemoveTextForHearingImpaired>
  <SubtitleBeaming>
    <FontName>
    </FontName>
    <FontColor>
    </FontColor>
    <FontSize>
    </FontSize>
    <BorderColor>
    </BorderColor>
    <BorderWidth>
    </BorderWidth>
  </SubtitleBeaming>
</Settings>